h1{
    font-size: 30px;
    font-family:Arial;
    font-variant: small-caps;
    text-decoration: dotted;
    color: blue;
}
body{
    background: rgb(174,229,238);
background: radial-gradient(circle, rgba(174,229,238,1) 0%, rgba(148,194,233,1) 87%);
}
h2{
    font-size: 28px;
    font-family:Arial;
    font-variant: small-caps;
    text-decoration: double;
    color: blue;
}
p{
    font: size 25px; 
    color: dodgerblue;
}